/* ===== GENERAL ===== */
body {
  font-family: 'Poppins', sans-serif;
  background: #f4f6f9;
  margin: 0;
  color: #1e293b;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}
/* ===== BANNER ===== */
.browsejob-banner {
   background: #f1f3f6;
  padding: 60px 0;
  text-align: center;
  border-bottom: 1px solid #e1e4e8;
}

.browsejob-banner h1 {
   color: #1c1616;
  font-size: 35px;
}
.browsejob-banner p {
  color: #666;
  font-size: 1rem;
}

/* ===== LAYOUT ===== */
.browsejob-container {
  display: flex;
  gap: 30px;
  margin: 40px 0;
  flex-wrap: wrap;
}

/* ===== SIDEBAR ===== */
.filter-sidebar {
  flex: 1;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
  min-width: 250px;
}

.filter-sidebar input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

/* ===== BUTTON ===== */
.btn-reset {
  width: 100%;
  padding: 12px;
  background: #f97316;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn-reset:hover {
  background: #ea580c;
}

/* ===== JOB LIST ===== */
.job-listing {
  flex: 3;
}

.job-listing-header h2 {
  font-size: 28px;
}

/* ===== CARDS ===== */
.job-cards {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.job-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
  transition: 0.3s;
  margin-top: 10px;
}

.job-card:hover {
  transform: translateY(-5px);
}

.job-card-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.job-card-left img {
  width: 50px;
  height: 50px;
}

.job-info h4 {
  margin: 0;
}

.job-info p {
  margin: 0;
  color: #64748b;
  font-size: 14px;
}

/* ===== BUTTONS ===== */
.btn-apply {
  background: #f97316;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.btn-apply:hover {
  background: #ea580c;
}

.btn-applied {
  background: #f05907;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
}

/* ===== RESPONSIVE ===== */
@media(max-width: 900px) {
  .browsejob-container {
    flex-direction: column;
  }

  .job-card {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
}

.container.browsejob-container {
margin-top: 30px;
}
.Available{
  align-items: center;
  justify-content: center;
  display: flex;
}