.chat-page {
  width: 400px;
  margin: auto;
  font-family: Arial;
}

.chat-box {
  height: 400px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
}

.left {
  text-align: left;
  background: #eee;
  margin: 5px;
  padding: 8px;
  border-radius: 5px;
}

.right {
  text-align: right;
  background: #cce5ff;
  margin: 5px;
  padding: 8px;
  border-radius: 5px;
}

.chat-input {
  display: flex;
}

.chat-input input {
  flex: 1;
  padding: 8px;
}

.chat-input button {
  padding: 8px;
}